/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	position: relative; 
	margin: 0 auto; max-width: 876px; 
	
}

.header {
	display: flex;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 80%;
	align-items: center;
}

.logo {
    padding-left: 100px;
}


a:hover {
	color: lightblue;
}
header nav a {
	text-decoration: none;
	color: black;
} 


h1 {
	font-size: 50px;
	text-align: center; 
	margin-top: 15%
}
#getStarted {
	flex-direction: row;	
}
.row {
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
}

.col {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.col2 {
	display: flex;
	justify-items: end;
}


button {
	
	background-color: white;
	color: black;
	border: 2px solid gray;
	width: 100px;
	height: 50px;
  }

 
  .cta{ 
	display: flex;
	justify-content: center;
	flex-content: space-evenly;  
  }


.main-content {
	margin-top: 35px;
	margin-bottom: 35px;
	position: relative;
	border-top: 1px solid black;
	line-height: 20px;
	width: 100%;
}

  .top-left {
	display: flex;
	flex-direction: column;
	float: left;
	margin-top: 35px;
	width: 45%;
  }

  .top-right {
	display: flex;
	flex-direction: column;
	float: right;
	margin-top: 35px;
	margin-left: 84px;
	width: 45%;
}

.middle-img {
	margin-top: 35px;
	margin-bottom: 35px;
}

.bottom-content {
	display: flex;
    justify-content: space-between;
	margin-bottom: 35px;

}

.content-box {
	width: 30%;
	letter-spacing: .25px;
}
.line {
    border-top: 1px solid black;
}

.contact {
	margin: 30px 0px 30px 0px;
}

footer h6{
	font-size: 12px;
	text-align: center;
}

hr {
    visibility: collapse;
}


/* SERVICES SPECIFIC */

.services-header-img {
    margin-top: 70px;
}

.divider1 {
    margin-top: 20px;
    margin-bottom: 35px;
    border-top: 1px solid black;
}


.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option {
    background-color: #efefef;
    width: 48%;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    line-height: 20px;
}



.button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;

}

.divider2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid black;
}


.bottom {
    display: flex;
    margin-top: 45px;
}

.facts {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    margin-bottom: 35px;
    line-height: 20px;
    padding-right: 20px;

}

li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: 30px;
    line-height: 20px;

}


img {
    width: 20%
    height: auto;
}

h3 {
    margin-top: 35px;
    text-align: center;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;}





/* mobile phones */
@media (max-width: 500px) {
    .header {
        flex-direction: column-reverse;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        line-height: 2;
        width: 100%

    }

    .nav a {
        font-size: 20px;
        color: gray;
    }

    hr {
        visibility: visible;
        border-bottom: 1px solid black;
        width: 100%
    }

    .logo {
        width: auto;
        padding: 0%;
        align-content: center;
    }

    .col2{
        visibility: collapse;
        height: 0px;
    }

    #getStarted {
        align-items: center;
    }

    div.row {
        flex-direction: column;
        text-align: center;

    }

    h1 {
        margin-top: 0%;
    }

    button {
        width: 180px; 
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.top-left {
        display: flex;
        flex-direction: column;
        width: 85%;

    }

    div.top-right {
        margin-left: 0px;
        width: 85%;
    }

    .middle-img {
        width: 95%
    }

    .bottom-content {
        flex-direction: column;
        align-items: center;
                width: 100%;
        border-bottom: 1px solid black;

    }

    .content-box {
        margin-bottom: 50px;
        width: 100%;

    }

    .contact {
        width: 100%;
        margin: 35px 0px 35px 0px;
        display: flex;
        flex-direction: column;
         align-items: start;

    }


    .option {
        width: 98%
    }

    .categories {
        flex-direction: column;
      
        align-content: center;
        margin: 0;

    }

    .facts {
        margin-top: 20px;
    }

    .bottom {
       flex-direction: column-reverse;
    }

    .services-header-img {
        width: 48%;
    }
}

/* Tablets */
@media (max-width: 800px) {

    .container {
        width: 95%;
    }

    .header {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .col2{
        visibility: collapse;
        height: 0px;
    }

    #getStarted {
        align-items: center;
    }

    div.row {
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
    }

    .feature-about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        margin-top: 5%;
    }

    .main-content {
        padding-top: 2%;
    }

    .main-content2 {
        padding: 2%
     }

    .top-right {
        margin: 0px;
        width: 48%;
    }

    .top-left {
        width: 48%;
        margin: 0px;
    }

    .middle-img {
        display: flex;
        width: 100%;
    }

    .contact {
        /* width: 85%; */
        margin: 20px 0px 35px 0px;
        display: flex;
        flex-direction: column;
         align-items: start;

    }

   
}
